<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="ruta1" value="c:\test\TestDir1\"/>
    <add key="ruta2" value="c:\test\TestDir2\"/>
    <!-- 10000 = 10 Segundos-->
    <add key="tiempo" value="10000"/>
  </appSettings>
</configuration>